@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Work+Sans:wght@300;400&display=swap');

$purple: #9C00B2;
$lightPurple: #FEFAFF;
$darkPurple: #4E105C;
$dark: #222222;
$gradientCircle: linear-gradient(180deg, rgba(251,113,31,1) 19%, rgba(188,33,142,1) 77%, rgba(166,4,182,1) 100%);
$gradientText: linear-gradient(45deg, #FD741B, #A300BB);
$font-Work-Sans: 'Work Sans', sans-serif;
$font-Space-Mono: 'Space Mono', monospace;